.calculator-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px) ;
    grid-template-rows: repeat(5, 100px);
}

.result-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-column: 1 / 5;
    font-size: 6vw;
    border: 2px solid grey
}

button {
    font-size: 2vw;
}

